@model List<Checklist.Models.Assignment>

<div class="d-flex justify-content-between">
    <h1>Current tasks:</h1>
    <a class="link-light text-decoration-none" asp-action="Create">
        <button class="btn btn-primary my-3">
             Add a task
        </button>
    </a>
</div>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                Task
            </th>
            <th>
                Description
            </th>
            <th>
                Task added date
            </th>
            <th>
                Task end date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="@item.Alert">
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td class="@item.Alert">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="@item.Alert">
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td class="@item.Alert">
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td class="d-flex">
                    <form asp-action="End">
                        <div>
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="submit" value="Complete task" class="btn btn-success" />
                        </div>
                    </form>
                    <a class="link-light text-decoration-none" asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning ms-4">Edit task</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>